body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;   
}

/*------------------------------header_div_vxod------------------------------------------*/
.header_div_vxod{ 
    display: flex; 
    justify-content: right;
    margin-top: 10px;
    padding: 0% 7% 0% 0%;
    margin-bottom: 14px;
 }

.header_div_vxod>*{
    display: flex;    
    color: dimgray;
}

a#div_vxod_a_id{
   text-decoration: none; 
}

a#div_vxod_a_id div:hover{ 
    text-decoration: underline; 
}

#div_vxod_i_id{
    font-size: 19px;
    padding-left: 3px;
}
/*---------------END-----------header_div_vxod-------------------------------*/


/*--------------------------header_div_s_l_p-------------------------------*/
.header_div_s_l_p{
    display: flex;
    margin-bottom: 12px; 
}

.header_div_s_l_p >*{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.header_div_seach{
    flex: 1 1 25%;
   
    
}

.header_div_seach_border{
    font-size: 16px;
    margin-left: 16%;
    padding: 2% 3%;
    background-color: azure;
}

.header_div_seach_input{
    border: none;
    background-color: azure;
}


.header_div_logo{ 
    flex: 1 1 40%;    
    height: 87px;
    background-image: url("../img/1-11/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.header_div_price{
    flex: 1 1 25%;    
}

.header_div_price_a{
    display: inline-flex;
    height: 15px;
    text-decoration: none;
    font-weight:bold;
}

#div_price_i_id{
    font-size: 15px;
}

.header_div_price_a section{  
    font-size: 15px;  
    padding-left: 6px;
}

.header_div_price_a section span{    
    color: red;      
}

/*-------------END-------------header_div_s_l_p-------------------------------*/

/*--------------------------------head_div_menu-------------------------------*/
.nav_menu{
    background-color: black;
    padding: 1px 0px 4px 0px;
}

.nav_menu div{ 
margin-left: 11%;
}
.nav_menu ul {
    margin: 0PX; 
   /* height: 42px;*/
}

.nav_menu ul li{
    display: inline-flex;    
    position: relative;
    align-items: center;
    justify-content: center;
    height: 43px;  
}

.nav_menu ul li>*{
    color: aliceblue; 
    text-decoration: none; 
    font-size: 12px;
    font-weight: bolder;  
    
}


.navbar >li{
    margin: 0px 7px 0px 7px;
}


.nav_menu ul li:hover{
    background-color: dimgray;

}

.nav_menu ul li:hover a{
    color: red;    
}
/*----------------nav_men_class_ul_1---------------*/

.nav_men_class_ul_1 ul{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 42px;
    /*border: 1px solid rgb(68, 0, 255);*/
   
  }

  .nav_men_class_ul_1 ul li{
    width: 100%;
 /*   display: inline-flex;
    align-items: center;
    justify-content: center;*/
     background-color: aqua;    
  }

  .nav_men_class_ul_1:hover ul{ 
    display: block;
    color: red;
 }

 .nav_men_class_ul_1 ul li a{ 
 font-weight: 100;
    color: black;

   }
 .nav_men_class_ul_1 ul li:hover  a{ 
 text-decoration: underline;
 /*color: black;*/

}


 /*--------END-------nav_men_class_ul_1---------------*/

/*----------------nav_men_class_ul_2---------------*/
 .nav_men_class_ul_2 ul{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 42px; 
}

.nav_men_class_ul_2 ul li{
    width: 100%;
    background-color: aqua;
 /*   display: inline-flex;
    align-items: center;
    justify-content: center;*/
  }

.nav_men_class_ul_2:hover ul{ 
    display: block;
    color: red; 
    
}
 /*--------END-------nav_men_class_ul_2---------------*/
/*------------END--------------head_div_menu-------------------------------*/


/*------1--------------------main-------------------------------*/
/*------2--------------------main_div-------------------------------*/
.main_div{
    display: flex;
    flex-wrap:wrap;
    margin: 0% 7% 0% 7%;
   /* border: 1px solid red;*/
}
/*--------3------------------div1->main_table_1-------------------------------*/
#main_id_table_1, #main_id_table_2{
    width: 100%;
}

.main_div_table_1{    
    flex: 1 1 45%;
    margin-right: 3%;
    font-size: 15px;
}

.main_div_table_1 a{
    text-decoration: none;
}
#table_1_td_id span{
    color: azure; 
}

#table_1_td_id{
    background-color: red; 
    height: 62px;
}

#table_1_i_id{

    color: rgb(252, 244, 244);
    font-size: 50px;
}

.main_div_comment{
    flex: 1 1 100%;
}

#table_1_td_id p{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
}

#main_id_table_1 tr:nth-child(7) td>*{
    width: 100%;
    height: 33px;
    font-size: 20px;
}

#main_id_table_1 tr:nth-child(1) td{
  /*  padding-top: 4px;*/
  height: 47px;
}

#main_id_table_1 tr:nth-child(1) td p{
    margin: 0;
    padding-top: 8px;
  }

#main_id_table_1 tr:nth-child(1) td:hover a{
    text-decoration: underline;
}

#main_id_table_1 tr:nth-child(2) p{
    padding-left: 15px;
}

#main_id_table_1 tr:nth-child(2) td:hover a{
    text-decoration: underline;
}



#main_id_table_1 tr:nth-child(2) span{
    padding-left: 25px;
}

#main_id_table_1 tr:nth-child(2) a{
    padding-left: 10px;
}

#main_id_table_1 tr:nth-child(3) td {
    font-size: 27px;
    padding: 25px 0px 0px 0px;
}

#main_id_table_1 tr:nth-child(4) td {
    padding: 21px 0px 1px 0px;
}

#main_id_table_1 tr:nth-child(5) td{
    padding-bottom: 14px;
}

#main_id_table_1 tr:nth-child(6) td{
    padding-bottom: 4px;
}




#main_id_table_1 tr:nth-child(7) td{
    padding-bottom: 14px;
}

#main_id_table_1 tr:nth-child(9) td{
    padding-bottom: 20px;
}

#main_id_table_1 tr:nth-child(10) td{
    padding-bottom: 3px;
}

#main_id_table_1 tr:nth-child(11) td{
    width: 100%;   
   
}

.main_div_table_select_1_class {
    width: 100%;
    height: 37px;
    font-size: 16px;
    border: none;
    border-radius: 0%;
}

#main_id_table_1 tr:nth-child(12) td{
padding: 17px 0px 4px 1px;
}

.main_div_table_select_2_class {
    width: 100%;
    height: 37px;
    font-size: 16px;
    border: none;
    border-radius: 0%;
}


#main_id_table_1 tr:nth-child(14) td{
    padding: 17px 0px 4px 1px;
    }

#main_id_table_1 tr:nth-child(16) td{
        padding: 24px 0px 4px 1px;
        }

#main_id_table_1 tr:nth-child(5) td:nth-child(1),
#main_id_table_1 tr:nth-child(9) td:nth-child(1) { 
    border-right: 20px solid aliceblue; 
}

#main_id_table_1 tr:nth-child(5) td:nth-child(1)>*,
#main_id_table_1 tr:nth-child(9) td:nth-child(1)>*{
    width: 94%;
    height: 33px;        
}

#main_id_table_1 tr:nth-child(5) td:nth-child(2)>*,
#main_id_table_1 tr:nth-child(9) td:nth-child(2)>*{
    width: 100%;
    height: 33px;        
}

#main_id_table_1 .main_input_number_v_class{
    width: 100%;
    height: 32px;
    font-size: 16px;
   /* border: none;*/
   /* border-radius: 0%;*/
}
/*
#main_id_table_1 tr:nth-child(5)  {
     margin: 5px;      
    }
    */
/*-------------END-------------div1->main_table_1-------------------------------*/

/*-----------------------div2->main_table_2-------------------------------*/


/*.main_div_table_2 table {margin: 0 auto;}*/


.main_div_table_2{
    flex: 1 1 45%;
    margin-top: 12%;
    background-color: coral;
}


.main_div_table_2 tbody{
    display: block;
    margin: 0% 4% 0% 4%;
    font-size: 14px;
    color: azure;
}


#main_id_table_2 caption{
    display: flex;
    font-size: 27px;
    color: aliceblue;
    text-align: left;
    padding: 5% 5% 4% 5%;

}

.main_div_table_2 tbody tr:nth-child(-n+6) td{
    height: 52px;
    
}

.main_div_table_2 tbody tr:nth-child(-n+5) td:nth-child(1){    
    font-size: 16px;
    border-bottom: 1px solid darkgrey;

}

.main_div_table_2 tbody tr:nth-child(-n+8) td:nth-child(1){    
    padding-left: 12px;
}



.main_div_table_2 tbody tr:nth-child(-n+6) td:nth-child(2){
     border-bottom: 1px solid darkgrey;
     padding-right: 16px;
  }

.main_div_table_2 tbody tr:nth-child(6) td:nth-child(1) {    
    font-size: 18px;
}

.main_div_table_2 tbody tr:nth-child(6) td:nth-child(2) {    
    font-size: 25px;
}

.main_div_table_2 tbody tr:nth-child(7) td p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#main_input_chek_2_1,#main_input_chek_2_2{
    width: 18px;
    height: 18px;
}


.main_div_table_2 tbody tr:nth-child(n5+3) td {    
    font-size: 18px;
   /* padding: 2.3% 0% 4.2% 7%;*/
}

.main_div_table_2 tbody td:nth-child(2) {
    text-align: end;
   /* padding-right: 7%;*/
    font-size: 16px;
}

.main_div_table_2 tbody tr:nth-child(7) input,
.main_div_table_2 tbody tr:nth-child(8) input{
    margin: 0;
}

.main_div_table_2 tbody tr:nth-child(7) td{
    height: 94px;

}

.main_div_table_2 tbody tr:nth-child(7) td p{
    height: 30px;

}


.main_div_table_2 tbody tr:nth-child(8) td{
    height: 70px;
}



.main_div_table_2 tbody tr:nth-child(9) td{
   height: 67px;
}


.main_div_table_2 tbody tr:nth-child(9) input{
    border-radius: 0;
    border: 0;
    padding: 0px 13px 0px 13px;
   /* width: 45%;*/
    height: 43px;
    margin: 0;
    font-size: 17px;
    color: azure;
    background-color: red;
}

.main_div_table_2 tbody tr:nth-child(9):hover input{
    text-decoration: underline;
}




/*----------END-------------div->main_table_2-------------------------------*/
/*-----------------------div3->main_div_comment-------------------------------*/
.main_div_comment{
    height: 200px;
    padding: 5px;px 3px;
}

.main_div_comment>*{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.main_div_comment p{
    height: 63px;
}



/*----------END-------------div3->main_div_comment-------------------------------*/



/*----------END----------------main-------------------------------*/

/*-------------------------footer-------------------------------*/

.foter_all{
    display: flex;
    background-color: black;
}

.foter_all>*{
    display: inline-flex;
    height: 66px;
    border: 1px solid red;
    text-decoration: none;
    color: azure;
}

.foter_all_1{
    flex: 1 1 22%;
    justify-content: right;
}

.foter_all_2{
    flex: 1 1 46%;
    justify-content: center;
    align-items: flex-end;
}

.foter_all_3{
    flex: 1 1 25%;
    justify-content: center;
    align-items: flex-end;
}

.foter_all_3 a{
    justify-content: right; 
    

}

.foter_all>* a{
    text-decoration: none;
}

.foter_all  a {
    color: gray;
}

.foter_all  p {
    color: gray;
}

.foter_all div:hover a{
    text-decoration: underline;
    color: aliceblue;
}

/*----------END----------------footer-------------------------------*/

/*--------------------------1150-------------------------------*/
@media screen and (max-width: 1150px) {

    .nav_menu ul li > *{
        font-size: 8px;
    }

    .header_div_vxod {
        padding: 0% 9% 0% 0%;
      }


      .header_div_seach {
        flex: 1 1 30%;
       /* justify-content: end;*/
      }

      .header_div_logo {
        flex: 1 1 35%;
      }

      .header_div_price {
        flex: 1 1 22%;
        justify-content: flex-start;
      }

      .header_div_seach_border {
        font-size: 14px;
      }

      .main_div {   
        margin: 0% 9% 0% 9%;  
      }

      .nav_menu ul li > * {
        font-size: 10px;
      }

      .navbar{
        margin: 0;
        padding: 0;
        padding-left: 27px;
      }

      .navbar > li {
        margin: 0px 6px 0px 5px;
      }

      .nav_menu ul li {
        height: 40px;
      }

      .main_div_table_2 {
        margin-top: 14.5%;
      }

      #main_id_table_2 caption {       
        font-size: 27px;   
        padding: 7% 0% 5% 6%;
      }

      .main_div_table_2 tbody {
        margin: 0% 5% 0% 5%;
      }

      .main_div_table_2 tbody tr:nth-child(7) td {
        height: 115px;
        border: 1px solid red;
      }

      .main_div_table_2 tbody tr:nth-child(7) td p:nth-child(1) {
         font-size: 15px;
         height: 30%;
      }

      .main_div_table_2 tbody tr:nth-child(7) td p:nth-child(2) {
        font-size: 15px;
        height: 45%;
     }

     .main_div_comment {
        height: 221px;
        }

      .foter_all_1{
        flex: 1 1 30%;
        justify-content: end;
      }
    
    .foter_all_2{
        flex: 1 1 45%;
    }
    
    .foter_all_3{
        flex: 1 1 25%;   
        justify-content: start;
    }
}
    /*-------------------------------950px--------------------------------*/
    @media screen and (max-width: 950px) {

        .header_div_vxod {
            padding: 0% 12% 0% 0%;
          }
 
    div {
        border: 1px solid red;
    }

    .navbar{
    <i class="fa fa-bars" aria-hidden="true"></i>
    }





   } 


/*----------END----------------1150-------------------------------*/