.div_Scroll_down{
    border: 1px solid rgb(132, 0, 255); 
    background-image: url(../img/1-10_img/1-10-mountains.jpg);
    background-attachment: fixed;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:cover;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center
}

.div_Scroll_down h2{    
    border: 1px solid rgb(0, 255, 0);    
    background-color: lightslategrey;
    color: azure;
    padding: 1% 4%;
    font-family: "Open Sans", Verdana, sans-serif;
}

.div_Heading_2_section{
    text-align: center;
    font-family: "Open Sans", Verdana, sans-serif;
}

.div_Heading_2_h2{
    border: 1px solid rgb(132, 0, 255); 
    background-image: url(../img/1-10_img/branch.jpg);
    background-attachment: fixed;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:cover;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center
}

.div_Heading_2_p, .div_Heading_3_p{
    text-align: center;
    font-family: "Open Sans", Verdana, sans-serif;
    color: aliceblue;
    background-color: black ; 
    border: 1px solid rgb(132, 0, 255); 
    font-size: 20px;     
    padding: 2%;
}


.div_Heading_3_h2{
    border: 1px solid rgb(132, 0, 255); 
    background-image: url(../img/1-10_img/forest.jpg);
    background-attachment: fixed;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:cover;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center  
}


.div_croll_up{
    border: 1px solid rgb(132, 0, 255); 
    background-image: url(../img/1-10_img/1-10-mountains.jpg);
    background-attachment: fixed;
    min-height: 700px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size:cover;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center 
}
