/*--------------------------------загальні параметри до двох таблиць-----------------*/
.flax_div{
    display: flex;
}
/*-----------------------------------------------------------------------------------*/

.table_1, .table_2{
    margin: 2%;
    width: 46%; 
    font-family:'Literata', sans-serif;     
}

.table_1 table{
    width: 100%;
    text-align: left;
}

.table_1 table,.table_2 table{
    width: 100%;    
    font-size: 16px;
}

.table_1 caption{
    caption-side: bottom;
    padding: 0.4em;
    font-size: 1.3em;
    font-weight: 700;
}

.table_2 caption{
    text-align: right;
    padding: 0.3em;
    font-size: 1.3em;
    font-weight: 700;
}

.table_1 tbody tr:hover {
    background-color: #ff002b;
}

.table_1 tbody tr:nth-child(2n+2) {
    background-color: #FFF2CC
}
.table_1 thead th{
    padding: 0.5em 0.3em 0.5em 0.3em;
    font-size: 1.2em; 
    font-weight: 700; 
    background-color: #FFC000 ;      
    color: aliceblue;
}

.table_2 thead th{
    padding: 0.5em 0.3em 0.5em 0.3em;
    font-size: 1.2em; 
    font-weight: 700; 
    background-color: #FFC000 ;    
 }


 .table_1 tbody th{    
    padding: 0.7em 0.3em 0.3em 0.3em;
}

.table_1 tbody td{
    padding: 0.7em 0.3em 0.3em 0.3em;
}

.table_2 tbody th{    
    padding: 0.7em 0.3em 0.3em 0.3em;
    background-color: #FFF2CC ;
}

.table_2 tbody td{    
    padding: 0.7em 0.3em 0.3em 0.3em;
}

.table_1 table, .table_1 td, .table_1 th{
    border: 1px solid blue;
    border-collapse: collapse;
}

.table_2 table, .table_2 td, .table_2 th{
    border: 1px solid blue;
    border-collapse: collapse;
}

.table_2 cite:hover{
    text-shadow: 2px 2px 3px;
}

/*--------------------------------------Зміни при зменшенні вікна менше 900px-------------------------------------*/
@media screen and (max-width: 900px) {
    .flax_div{
        display: block;   
    }

  .table_1,.table_2{
        width: 100%;  
        margin: 2%;   
      }
     /* .table_1 thead th{
        padding: 2%;    
        color: aliceblue;
        background-color: #FFC000 ;  
    }
  
*/
}

/*-----------------------------------------------------------------------------------*/



